## Spark SQL

### Imports

In [ ]:
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark.sql.types import *

### Spark Session erstellen

In [ ]:
spark = SparkSession \
        .builder \
        .appName("Python Spark SQL example") \
        .getOrCreate()

### Daten einlesen

In [ ]:
df = spark.read.json("people.json")
df.show()

### Ausgabe des Schemas

In [ ]:
df.printSchema()

### Übung 1

Selektiere nur die Spalte "Name"

### Übung 2

Selektiere alles und erhöhe das Alter um 1

### Übung 3

Zähle die Personen nach alter

### Übung 4

Registrieren des DataFrame als SQL temporary view

### Übung 5

Registrieren des DataFrame als global temporary view

### Übung 6

Abfrage der global temporary view, diese view hat den prefix "global_temp"

### Übung 7

Global temporary view sind cross-session. Erzeuge eine neue Session und gibt die view aus

### Übung 8

Lade das people.txt file

### Übung 9

Konvertiere pro Linie den Namen und das Alter in eine Tuple

### Übung 10

Erstelle ein Schema um die Personendaten in ein Dataframe umzuwandeln

### Übung 11

Erstelle ein Datframe und wende das Schema an und gibt die Daten des Dataframe aus